body{
  font-family: 'Roboto', sans-serif;
}
.container{
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.w-100{
  width: 100%;
}
.h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $grey4;
  @include mq($mob){
    font-size: 14px;
  }
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}



