.footer{
  background: #000;
  padding: 66px 10px 70px;
  text-align: center;
  @include mq($pl) {
    padding: 57px 10px 56px;
  }
  @include mq($mob) {
    padding: 38px 10px 47px;
  }

}
.footer__h2{
  color: #fff;
}
.footer__text{
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  max-width: 684px;
  color: #B9B9B9;
  margin: 22px auto 37px;
  @include mq($mob) {
    margin: 8px auto 25px;
  }
}
.footer__cos-wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  @include mq($mob) {
    margin-bottom: 25px;
  }
}

.footer__link{
  margin: 0 3px;
  display: block;
}

.footer__adr{
  color: #B9B9B9;
  &span{
    display: inline-block;
    margin: 0 8px;
  }
}

