.instagram-shorts{
  background: #f7f7f7;
  padding: 47px 0 49px;
  @include mq($mob){
    padding: 38px 0 42px;
    background: #fff;
  }
}
.instagram-shorts__title-wrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  @include mq($pl){
    margin-bottom: 35px;
  }
  @include mq($mob){
    margin-bottom: 13px;
  }
}
.instagram-shorts__link{
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: $grey4;
  @include mq($mob){
    display: none;
  }
}
.instagram-shorts__imgs-wrap{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);

  @include mq($pl){
    grid-template-columns: repeat(3, 1fr);
  }
  @include mq($mob){
    grid-template-columns: repeat(1, 1fr);
  }
}
.instagram-shorts__img{
  @include mq($pl){
    &:nth-of-type(4){
      display: none;
    }
  }
  @include mq($mob){
    &:nth-of-type(3){
      display: none;
    }
    &:nth-of-type(2){
      display: none;
    }
  }

}







