@mixin mq($screen, $min: false) {
  @if ($min) {
    @media (min-width: #{$screen}px) {
      @content;
    }
  } @else {
    @media (max-width: #{$screen}px) {
      @content;
    }
  }
}

@mixin list-style-none{
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

