
.nav{
  position: relative;
  max-width: 1190px;
  margin: 29px auto 34px;
  padding: 16px 10px 17px;
  display: flex;
  justify-content: center;
  @include mq($pl){
    margin: 23px auto 28px;
    padding: 18px 10px 15px;
  }
  @include mq($mob){
    margin: 23px auto 23px;
    padding: 0 10px;
    justify-content: flex-end;
  }
}

.nav__ul{
  @include list-style-none;
  display: flex;
  justify-content: center;
  @include mq($mob){
    flex-direction: column;
    width: 182px;
    background: #F5F5F5;
    position: absolute;
    top: 37px;
    right: 10px;
    display: none;
    &--active{
      display: flex;
    }
  }
}
.nav__link{
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: $grey4;
  line-height: 22px;
  letter-spacing: 1.1px;
  margin: 0 34px;
  text-decoration: none;
  &--active,
  &:hover{
    color: #57A4A4;
  }
  @include mq($pl){
    margin: 0 17px;
  }
  @include mq($mob){
    margin: 0;
    padding: 5px 14px;
    &:hover{
      color: $grey4;
      background: #E5E5E5;
    }
    
  }
}

.nav__toggler{
  display: none;

  @include mq($mob){
    display: block;
  }
}

.nav__label{
  display:none;
  flex-direction:column;
  width: 44px;
  height: 37px;
  cursor:pointer;
  background: #000;
  padding: 7px;
  box-sizing:border-box;

  @include mq($mob){
    display: flex;
  }
}
.nav__span{
  background: #fff;
  border-radius:10px;
  height: 2px;
  margin: 3px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}
.nav__input[type="checkbox"]{
  display:none;
  &:checked ~ .nav__span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(3px,0px);
    width:50%;
  }
  &:checked ~ .nav__span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  &:checked ~ .nav__span:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(12.5px, -3px) rotatez(45deg);
  }
}





