
.section-posts{
  margin-top: 69px;
  margin-bottom: 69px;

  @include mq($pl){
    margin-top: 60px;
    margin-bottom: 56px;
  }
  @include mq($mob){
    margin-top: 38px;
    margin-bottom: 58px;
  }
}
.section-posts__wrap-news{
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 55px;
  @include mq($pl){
    gap: 24px 32px;
  }
}
.section-posts__block{
  display: flex;
  width: 100%;
  max-width: 555px;
  @include mq($mob){
    display: block;
  }
}
.section-posts__img{
  width: 160px;
  margin-right: 21px;
  @include mq($mob){
    margin-bottom: 11px;
  }
}

.section-posts__title{
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $grey4;
  @include mq($mob){
    font-size: 14px;
  }
}

.section-posts__info-profile{
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $grey7;
  margin-top: 1px;
  & span{
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
  @include mq($mob){
    font-size: 11px;
  }
}

.section-posts__content{
  margin-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $grey5;
  @include mq($mob){
    display: none;
  }
}


