@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --generalColor: #18CFAB;
}

* {
    box-sizing: border-box;
    line-height: 100%;
}

a {
    text-decoration: none;
    transition: all .4s;
}
.h2{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
.h2_line{
    padding-bottom: 32px;
    position: relative;
}
.h2_line:after{
    width: 91px;
    left: calc(50% - 45.5px);
    bottom: 0;
    content: '';
    position: absolute;
    height: 9px;
    background: url('../img/h2_line.png');
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    margin: 0 13px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    display: inline-block;
    padding: 16px 20px;
    color: #fff;
    background: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}
.btn:after{
    position: absolute;
    content: '';
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.btn-general:after{
    background: var(--generalColor);
}
.btn-second:after{
    background: #00CBF6;
}
.btn span{
    z-index: 5;
    position: relative;
    top: 5px;
}

.nav {
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    background: rgba(94, 93, 88, 0.6);
    position: absolute;
    z-index: 2;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav .logo {
    display: block;
    background: url('../img/logo.png') center left no-repeat;
    padding: 17.5px 0 17.5px 64px;
    color: #fff;
    font-size: 32px;
}

.nav .logo span {
    font-weight: 700;
    color: var(--generalColor);
}

.nav .menu {
    display: flex;
    list-style-type: none;
    height: 100%;
}

.nav .li {
    padding-left: 0;
    margin-left: 21px;
    height: 100%;
}

.nav .href {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    height: 100%;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}

.nav .href:hover {
    color: var(--generalColor);
    border-bottom: 2px solid var(--generalColor);
}

.general{
    height: 100vh;
    background: url('../img/section-1.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 136px;
    display: flex;
    align-items: center;
}
.general .subtitle {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.general .subtitle span{
    color: var(--generalColor);
}
.general .h1{
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
    text-align: center;
}
.general .text{
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 129px;
    text-align: center;
}
.general .btns_wrap{
    display: flex;
    justify-content: center;
}

.netting{
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #1C2A33;
}
.netting .block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 360px;
    color: var(--generalColor);
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 90px;
}
.netting .block:nth-of-type(2n){
    background: var(--generalColor);
    color: #fff;
}

.netting .text{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 103px;
}

.tabs{
    padding: 90px 0;
}

.tabs .tabs_name{
    margin-top: 69px;
    display: flex;
}
.tabs .tabs-title{
    padding: 20px;
    color: #717171;
    cursor: pointer;
    background: #F8FCFE;
    width: 192px;
    border: 1px solid #EDEFEF;
    position: relative;
    text-align: center;
}
.tabs .tabs-title.active {
    background: var(--generalColor);
    color: #fff;
    border: 1px solid var(--generalColor);
}
.tabs .tabs-title.active:after{
    position: absolute;
    bottom: -12px;
    height: 13px;
    width: 25px;
    left: calc(50% - 12.5px);
    content: '';
    background: url('../img/tabs-title_after.png') center center;
    background-size: contain;
}
.tabs .tabs-content{
    margin-top: 69px;
}
.tabs .tabs-content li{
    display: none;
}
.tabs .tabs-content .active{
    display: flex;
}
.tabs .tabs-content .img{
    width: 192px;
    margin-right: 15px;
}
.tabs .tabs-content .text{
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}


.purchase{
    height: 476px;
    width: 100%;
    padding: 126px 0;
    text-align: center;
    background: url('../img/section-2.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.purchase:after{
    background: rgba(0,0,0,.8);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.purchase > *{
    position: relative;
    z-index: 1;
}
.purchase .h2{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--generalColor);
    margin-bottom: 12px;
}
.purchase .text{
    margin-bottom: 62px;
    color: #D8D8D8;
}

.works{
    padding: 95px 0 99px;
    background: #E9EDEF;
}

.works .h2{
    margin-bottom: 69px;
}

.works .works_title{
    margin-bottom: 69px;
    display: flex;
    justify-content: center;
}
.works .works_title .li{
    margin: 0;
    padding: 0;
}
.works .works_title .href{
    padding: 14px 16px;
    position: relative;
    border: 1px solid #DADADA;
    margin-left: -1px;
    cursor: pointer;
    color: #717171;
    font-size: 14px;
}
.works .works_title .href.active{
    border: 2px solid var(--generalColor);
    color: var(--generalColor);
    z-index: 2;
    padding: 13px 15px;
}

.works .works_portfolio{
    display: flex;
    flex-wrap: wrap;
}
.works .works_portfolio .li{
    width: 25%;
    height: 206px;
    position: relative;
}
.works .works_portfolio .li.hide{
    display: none;
}
.works .works_portfolio .li .img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}
.works .works_portfolio .block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s all;
    background: #E9EDEF;
    border-top: 3px solid var(--generalColor);
    z-index: 10;
}

.works .works_portfolio .block:hover{
    opacity: 1;
    
}
.works .works_portfolio .url_wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.works .works_portfolio .url_wrap .url{
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid var(--generalColor);
    background: url('../img/url.svg') center center no-repeat;
    margin-right: 3px;
}
.works .works_portfolio .url_wrap .url_square{
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url('../img/url_square.svg') center center no-repeat,
    var(--generalColor);
}

.works .works_portfolio .name{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--generalColor);
    margin-bottom: 12px;
}
.works .works_portfolio .category{
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

.btn-add{
    padding: 22px 22px 22px 56px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    width: 168px;
    text-align: center;
    color: #fff;
    background: var(--generalColor);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}
.btn-add:after{
    background: url('../img/btn-add.svg') center center no-repeat;
    width: 19px;
    height: 18px;
    position: absolute;
    content: '';
    top: calc(50% - 9px);
    left: 20px;
}

.news{
    padding: 82px 0 129px;
}
.news .h2{
    margin-bottom: 100px;
}
.news .news_wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 44px;
}

.news .block{
    display: block;
    width: 100%;
    position: relative;
    transition: .5s all;
}
.news .block:hover{
    background: #F2F4F5;
}
.news .block .img{
    width: 100%;
}
.news .block .date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 2;
    background: #203E38;
    transition: .5s all;
}
.news .block:hover .date{
    background: var(--generalColor);
}
.news .block .title{
    padding: 20px;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    transition: .5s all;
}
.news .block:hover .title{
    color: var(--generalColor);
}
.news .block .status{
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    display: flex;
    padding: 0 20px 20px;
}
.news .block .status span{
    margin-right: 20px;
    display: block;
}
.news .block .status span:after{
    position: relative;
    content: '|';
    margin-left: 20px;
}
.news .block .status span:last-of-type:after{
    display: none;
}

.slider{
    width: 100%;
    padding: 98px 0 104px;
    text-align: center;
    background: url('../img/section-3.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.slider .h2{
    color: #fff;
}

.main-slider{
    margin: 62px auto 51px;
}
.main-slider .quote{
    background: url('../img/quote.svg') top center no-repeat;
    padding-top: 69px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 37px;
}
.main-slider .name{
    color: var(--generalColor);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.main-slider .prof{
    margin-top: 12px;
    color: #BBBBBB;
}
.main-slider .img_wrap{
    background: rgba(31, 218, 181, .2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 166px;
    height: 166px;
    overflow: hidden;
    position: relative;
    padding: 12px;
    margin: 38px auto 0;
}
.main-slider .img_wrap .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.thumbnail-slider{
    width: 361px;
    margin: 0 auto 0;
}
.thumbnail-slider .splide__slide{
    transition: .5s all;
    border: 0 !important;
}
.thumbnail-slider .img_wrap{
    background: rgba(31, 218, 181, .2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 13px;
    overflow: hidden;
    position: relative;
    padding: 6px;
    transition: .5s all;
}
.thumbnail-slider .splide__slide.is-active .img_wrap{
    margin-top: 0;
}
.thumbnail-slider .img_wrap .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.thumbnail-slider .splide__arrow{
    width: 32px;
    height: 31px;
    border: 1px solid #fff;
    background: transparent;
    transition: .5s all;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    opacity: .8;
    outline: none!important;
    margin-top: 6.5px;
}
.thumbnail-slider .splide__arrow:hover{
    border: 1px solid var(--generalColor);
    opacity: 1;
}
.thumbnail-slider .splide__arrow svg{
    display: none;
}
.thumbnail-slider .splide__arrow--prev{
    left: -60px;
    background: url('../img/arrow_prev.svg') center center no-repeat, transparent;
}
.thumbnail-slider .splide__arrow--prev:hover{
    background: url('../img/arrow_prev.svg') center center no-repeat, var(--generalColor);
}
.thumbnail-slider .splide__arrow--next{
    right: -60px;
    background: url('../img/arrow_next.svg') center center no-repeat, transparent;
}
.thumbnail-slider .splide__arrow--next:hover{
    background: url('../img/arrow_next.svg') center center no-repeat, var(--generalColor);

}
.thumbnail-slider .splide__arrow--prev[disabled]{
    background: url('../img/arrow_prev.svg') center center no-repeat, transparent;
    opacity: .3;
    border: 1px solid #fff;
}
.thumbnail-slider .splide__arrow--next[disabled]{
    background: url('../img/arrow_next.svg') center center no-repeat, transparent;
    opacity: .3;
    border: 1px solid #fff;
}

.footer{
    padding: 48px 0;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    background: #22353F;
}
.footer a{
    color: var(--generalColor);
}
















